body{
    background-color: plum;
}
.navheader{
    background-color: blueviolet;
    position: sticky;
    top: 0;
}

.navlinks{
    display: flex;
    justify-content: space-evenly; 
    list-style: none; 
    align-items:center;
    padding: 30;
    margin-top:70px;
    margin-bottom: 70px;

}


.hero-section{
    background-image: url(Q6.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 100px;

    display: flex;               
    justify-content: center;    
    align-items: center; 
}

.hero-button{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 30px; 
    border-radius: 5px;
    cursor: pointer;
    width: auto;      
    display: inline-block; 
    margin: 0 auto;
}

.image-row {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    text-align: center; 
}

.image-box {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image-box img {
    width: 200px;
    height: auto;
    margin-bottom: 10px; 
}

.image-box p {
    margin: 0;
    font-weight: bold;
}